{% extends 'images/base.html' %}
{% load static %}

{% block title %}FUTURO DE BOLIVIA S.A. - AFP{% endblock %}
{% block header %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/afp.ico' %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg p-0" style="background: #9f2e1e;">
        <a href="#">
            <img width="97px" height="79px" id="logo" src="{% static 'img/logoafp2.jpg' %}">
        </a>
    </nav>
     <div style="margin-left: 100px; color: #2a649d;" class="font-weight-bold">
            Futuro de Bolivia S.A. AFP > Asegurado >
     </div>
    <div>
        <div class="row mb-4">
            <div class="col-12 text-center">
                <img src="{% static 'img/img2.jpeg' %}" width="350px" alt="encabezado">
                {% if object %}
                    <img src="{{ object.image.url }}" alt="{{ object.name }}" width="800px">
                {% else %}
                    <p class="font-weight-bold">Sin datos para mostrar.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
