{% extends 'images/base.html' %}
{% load static %}

{% block title %}Previsión AFP Bolivia{% endblock %}
{% block header %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg" style="background: #042e58;">
        <img width="250px" height="60px" class="navbar-brand my-2" src="https://www.prevision.com.bo/archivos/multimedia/logo_2021.svg" alt="logo">
    </nav>
    <div>
        <div class="row mb-4 mt-3">
            <div class="col-12 text-center">
                {% if object %}
                   <div style="width: 100%">
                    <img src="{{ object.image.url }}" alt="{{ object.name }}" width="800px">
                   </div>
                {% else %}
                    <p class="font-weight-bold">Sin datos para mostrar.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
